@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --body-overflow: auto;
  }

  body {
    @apply font-sans;
    overflow: var(--body-overflow);
  }

  p {
    @apply font-light text-gray text-lg pb-6 md:text-lg md:leading-8;
  }

  p a {
    @apply text-primary;
  }

  p a:hover,
  p a:focus {
    @apply underline;
  }

  .stretched::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 4px 4px rgba(0,0,0,0.20);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .square {
    aspect-ratio: 1/1;
  }

  .rectangle {
    aspect-ratio: 1.54/1;
  }
}

.breadcrumb {
  @apply mt-[5.5rem];
}

.breadcrumb__list {
  @apply flex flex-wrap gap-2 text-gray uppercase font-light text-sm;
}

.content p:last-child {
  @apply pb-0;
}
